<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <servlet>
    <description>SuperDog Authentication Sample</description>
    <display-name>SuperDog Authentication Sample</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>com.superdog.server.Auth</servlet-class>
  </servlet>
  <servlet>
    <description>SuperDog Authentication Sample</description>
    <display-name>SuperDog Authentication Sample</display-name>
    <servlet-name>ConfigInfo</servlet-name>
    <servlet-class>com.superdog.server.ConfigInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigInfo</servlet-name>
    <url-pattern>/ConfigInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>